
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();


$blue-palette: mat.$blue-palette;

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$taskManager-primary: mat.define-palette(mat.$blue-palette);
$taskManager-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$taskManager-warn: mat.define-palette(mat.$blue-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$taskManager-theme: mat.define-light-theme((
  color: (
    primary: $taskManager-primary,
    accent: $taskManager-accent,
    warn: $taskManager-warn,
  )
));




// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($taskManager-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Add fonts */


@font-face {
  font-family: 'MuseoSans';
  src: url('./assets/fonts/MuseoSans/MuseoSans_900.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('./assets/fonts/MuseoSans/MuseoSans_700.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('./assets/fonts/MuseoSans/MuseoSans_500.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('./assets/fonts/MuseoSans/MuseoSans_300.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('./assets/fonts/MuseoSans/MuseoSans_100.otf');
  font-weight: 100;
  font-style: normal;
}


@font-face {
  font-family: 'NunitoSans';
  src: url('./assets/fonts/NunitoSans/NunitoSans-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('./assets/fonts/NunitoSans/NunitoSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'NunitoSans';
  src: url('./assets/fonts/NunitoSans/NunitoSans-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('./assets/fonts/NunitoSans/NunitoSans-Regular.ttf');
  font-weight: 500;
  font-style: normal;
}

*{
  font-family: 'MuseoSans';
}

//material ui styling
//ui elements

//select
.cdk-overlay-pane{
  width:initial !important;
  }

.mat-mdc-select-value{
    color: #004798 !important;
}

.select{
  >div{
      margin-top: 32px;
      width: fit-content;
      border: 1px solid #004798;
      border-radius: 5px;
      padding:6px 6px 6px 12px;
  }
  .mat-mdc-select-arrow{
    padding-left: 16px;
    color:#004798
  }
}


.space-between{
  justify-content: space-between;
}